<!DOCTYPE html>
<html>
  <head>
    <title>Backups</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/import">Import data</a></li>
      <li><a href="/backups">Backups</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <h1>Backups</h1>

    <h2>Create a new backup:</h2>
    <form action="/backups-create" method="post">
      <label for="table_name">Table Name:</label>
      <select id="table_name" name="table_name" required>
        <option value="">-- Select a table</option>
        <option value="hired_employees">hired_employees</option>
        <option value="departments">departments</option>
        <option value="jobs">jobs</option>
      </select>
      <button type="submit">Create Backup</button>
    </form>
    <h2>Restore a backups:</h2>
    <form action="/backups-restore" method="post">
      <select id="restore_file_name" name="restore_file_name" required>
        <option value="">-- Select a backup file</option>
        {% for backup in backups %}
        <option value="{{ backup.avro_file | default('') }}">
          {{ backup.table_name | default('N/A') }} - {{ backup.datetime |
          default('N/A') }}
        </option>
        {% endfor %}
      </select>
      <button type="submit">Restore Backup</button>
    </form>
    <h1>Force TRUNCATE table:</h1>
    <p>Used only for testing purposes</p>
    <form action="/force-truncate-table" method="post">
      <select id="table_name" name="table_name" required>
        <option value="">-- Select a table</option>
        <option value="hired_employees">hired_employees</option>
        <option value="departments">departments</option>
        <option value="jobs">jobs</option>
      </select>
      <button type="submit">Truncate Table</button>
    </form>
    <h1>Table Counts</h1>
    {{ table_counts | safe }}
  </body>
</html>
