<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/import">Import data</a></li>
      <li><a href="/backups">Backups</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <h1>Dashboard</h1>

    <h2>Total Records per table</h2>

    <h2>Report 1</h2>

    <code>{{ results1 | default('N/A') }}</code>
    <p></p>

    <h2>Report 2</h2>
    <code>{{ results2 | default('N/A') }}</code>
    <p></p>
  </body>
</html>
