<!DOCTYPE html>
<html>
  <head>
    <title>Import data</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/import">Import data</a></li>
      <li><a href="/backups">Backups</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
    </ul>
    <h1>Import data</h1>
    <form method="post" enctype="multipart/form-data" action="">
      Endpoint:
      <select name="table_name">
        <option value="hired_employees">hired_employees</option>
        <option value="departments">departments</option>
        <option value="jobs">jobs</option></select
      ><br /><br />
      Select a csv file: <input type="file" name="file" /> <br /><br />
      Chunk Size:
      <input type="text" name="chunk_size" value="1000" size="4" /><br /><br />

      <input type="submit" value="Import" />
    </form>
    <h1>History of Import Transactions</h1>
    {{ import_logs_html | safe }}
  </body>
</html>
