<!DOCTYPE html>
<html>
  <head>
    <title>CSV Data Importer</title>
  </head>
  <body>
    <h1>CSV Data Importer</h1>

    <form method="POST" enctype="multipart/form-data" action="/upload">
      <label for="endpoint">Select Endpoint:</label>
      <select name="endpoint" id="endpoint">
        <option value="/departments">Departments</option>
        <option value="/jobs">Jobs</option>
        <option value="/hired_employees">Hired Employees</option></select
      ><br /><br />

      <label for="file">Choose CSV File:</label>
      <input type="file" name="file" id="file" /><br /><br />

      <input type="submit" value="Upload" />
    </form>

    <h2>cURL Examples:</h2>

    <p><strong>Departments:</strong></p>
    <pre><code>curl -X POST -F "file=@departments.csv" http://127.0.0.1:5000/departments</code></pre>

    <p><strong>Jobs:</strong></p>
    <pre><code>curl -X POST -F "file=@jobs.csv" http://127.0.0.1:5000/jobs</code></pre>

    <p><strong>Hired Employees:</strong></p>
    <pre><code>curl -X POST -F "file=@hired_employees.csv" http://127.0.0.1:5000/hired_employees</code></pre>
  </body>
</html>
